<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<h3>업로드 예시</h3>
	
	<h3>단일 파일 업로드</h3>
	<form action="upload_ok" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="submit" value="파일올리기">
	</form>
	
	<br>
	<h3>복수 태그를 사용한 다중 파일업로드- List(MultipartFile)</h3>
	<form action="upload_ok2" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="file" name="file">
		<input type="file" name="file">
		<input type="submit" value="파일올리기">
	</form>
	<br>
	<h3>multiple옵션을 사용한 다중 파일업로드</h3>
	<form action="upload_ok3" method="post" enctype="multipart/form-data">
		<input type="file" name="file" multiple="multiple">
		<input type="submit" value="파일올리기">
	</form>
	<br>
	
	
	<div>
		<h3>비동기방식으로 처리하기</h3>
		<input type="file" name="file_a">
		<button onclick="upload()">비동기업로드</button>
	</div>
	
	
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script>
		function upload(){
			//1.파일 데이터 얻기
			var file = $("input[name='file_a']");
			//console.log(file);
			console.log(file[0]); //input태그
			console.log(file[0].files); //파일리스트
			console.log(file[0].files[0]); //파일객체
			
			
			//2. 폼객체
			var formData = new FormData();
			formData.append('file',file[0].files[0]); // 키, 데이터
			
			//3. 전송
			$.ajax({
				url : "upload_ok4",
				type : 'post',
				data : formData, //폼데이터
				contentType : false, //multipart/form-data 형식으로 자동선언
				processData : false, //jquery가 폼데이터를 쿼리스트링으로 담게 되는데, 자동으로 변경되는 것을 방지
				success : (data)=>{
					console.log(data)
				},
				error : (status,err)=>{
					console.log(status, err)
				}
			})
		}
	</script>
	
	
	<hr>
	<img src="display?filename=sample.png&filepath=20230804&uuid=5da7f8c5-f5e9-44d8-a42b-4c9030d6630d">
	
	
	
</body>
</html>